image: Visual Studio 2015

before_build:
  - nuget restore
  - choco install opencover.portable
  - choco install codecov

build:
  project: EDA1.sln
  verbosity: minimal

test_script:
  - OpenCover.Console.exe -register:user -target:"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\MSTest.exe" -targetargs:'/testcontainer:".\EDA1.UnitTests\bin\Debug\EDA1.UnitTests.dll"' -filter:"+[EDA1.Lib*]* -[EDA1.UnitTests*]*" -output:".\MyProject_coverage.xml"
  - codecov -f "MyProject_coverage.xml"